
@{
    ViewData["Title"] = "Home Page";
    Question question = (Question)ViewData["newQues"];
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css">
</head>

<div class="text-center">
    <p1>Honesty is the best policy.</p1>
</div>
<br />
<br />
  
<div>
    <form action="/Home/Question" method="post">

        <p>@question.Text</p>
        <br/>
        <br/>

        @foreach (Answer answer in question.Answers)
        {

            <input type="radio" id="html" name="chosenAnswer" value="@answer.Value" required>
            <label for="answerText">@answer.Text</label>
            <br>
            <br>      
        }
        <input type="hidden" name="quesId" value="@question.Id" />
        <div class="text-center">
            <input type="submit" value="@ViewData["buttonCaption"]" class="btn btn-dark" />
        </div>

    </form>



</div>
